<!DOCTYPE html>
<html>

<head>
    <title>accurate-image-downloaderr</title>
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />

</head>

<body>

    <div class="wrap">
        <div id="app">
            <div class="box flex mb20">
                <div class="dimension">
                    <p class="flex"><label class="tc">W</label><input type="text" :value="cfg.width"  class="width" />
                        <span>px</span></p>
                    <p class="flex"><label class="tc">H</label><input type="text" :value="cfg.height"  class="height" />
                        <span>px</span></p>
                </div>
                <input type="text" class="sub" :placeholder="cfg.folder_name" title="Set the name of the subfolder you want to download the images to." />
                <span class="btn" disabled="true">DOWNLOAD</span>
            </div>

            <div class="box-list">
                <div class="control-bar">
                    <label><input type="checkbox" name="" checked> ALL </label>
                </div>
                <ul class="flex start">
                    <li :for="item in list">
                        <p class="p1"><img :src="item.url"></p>
                        <p class="p2"><input type="checkbox" :checked="item.enable"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="/lib/zepto.js"></script>
    <script src="/lib/polyfill.min.js"></script>
    <script src="/lib/vue-csp.min.js"></script>
    <script src="/scripts/defaults.js"></script>
    <script src="/scripts/popup.js"></script>

</body>

</html>